.App {
  height: 100%;

  h1 {
    padding-bottom: 20px;
  }

  h2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    border-right: none;
    background-color: #fff;
    height: 73px;

    .WalletMenu {
      border-radius: 20px;
      overflow: hidden;
      cursor: pointer;
      height: 40px;
      width: 40px;
      margin-right: 40px;
      margin-top: 16px;
    }

    .accountholder {
      padding-top: 19px;
      cursor: pointer;
      position: relative;
    }

    .networkselect {
      padding-top: 19px;
      cursor: pointer;
      position: relative;
    }

    .datacap {
      padding-top: 19px;
      cursor: pointer;
    }

    .refresh {
      padding-top: 27px;
      cursor: pointer;
    }

    .headertitles {
      font-weight: bold;
      font-size: 12px;
      padding-bottom: 7px;
    }

    .datacap {
      padding-left: 5px;
    }

    .copyaddress {
      padding-left: 5px;
    }

    .notification {
      padding-top: 27px;
      cursor: pointer;
    }

    .search {
      position: relative;

      svg {
        position: absolute;
        top: 30px;
        left: 20px;
      }

      input {
        margin-top: 16px;
        box-shadow: none;
        border: 1px solid #C7C7C7;
        width: 300px;
        padding-left: 48px;
      }

      input::placeholder {
        color: #656565;
      }
    }

    a,
    a:focus,
    a:visited,
    a:link,
    a:hover,
    a:target {
      padding: 8px 20px;
      text-decoration: none;
      color: black;
      border: none;
      font-weight: 300;

      svg {
        padding-right: 10px;
      }
    }

    a.active {
      color: #003fe3;
    }

  }

  .walletpicker {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .networkselectholder {
    width: 250px;
    position: absolute;
    padding: 24px 16px;
    top: 70px;
    left: 0px;
    border: 1px solid #C7C7C7;
    border-radius: 8px;
    background-color: #fff;
    z-index: 1;

    .networkentry {
      padding-top: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .accountselectholder {
    width: 250px;
    position: absolute;
    padding: 24px 16px;
    top: 70px;
    left: 0px;
    border: 1px solid #C7C7C7;
    border-radius: 8px;
    background-color: #fff;
    z-index: 1;

    .viewswitch {
      padding: 10px;
    }

    .accountentry {
      padding-top: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: monospace;
    }

    .importseedphrase {
      padding-top: 20px;
      font-weight: bold;
    }
  }

  .page {
    .imageholder {
      height: 200px;
      background: url(/bg_image.png);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .info {
      background: linear-gradient(180deg, #0090FF 0%, #39C1CB 99.99%, rgba(0, 144, 255, 0) 100%);
      position: relative;
      height: 190px;
      margin-bottom: 70px;

      .textinfo {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 5px;
        max-width: 1280px;
        color: #fff;

        .textinfotext {
          padding: 30px 80px;
        }

        .textinfodata {
          display: flex;
          align-content: stretch;
          border: 1px solid #0090FF;

          .textinfodatablock {
            text-align: center;
            flex-grow: 1;
            border: 1px solid #0090FF;
            background-color: #fff;
            color: #000;

            .data {
              font-size: 30px;
              padding: 15px 20px;
            }

            .text {
              padding-bottom: 20px;
            }
          }
        }

        h2 {
          padding-top: 0px;
          padding-bottom: 15px;
        }
      }
    }
  }

  .main {
    max-width: 1280px;
    margin: auto;
    min-height: 100%;
    margin-top: 20px;

    .tabsholder {
      display: flex;
      justify-content: space-between;

      .tabs {
        display: flex;

        >div {
          padding: 10px;
          margin-right: 10px;
          border-bottom: 1px solid #ccc;
          cursor: pointer;
        }

        >div.selected {
          border-bottom: 1px solid #0090FF;
          color: #0090FF;
        }
      }

      .tabssadd {
        button {
          margin-left: 10px;
        }
      }
    }

    .nodata {
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #e5e5e5;
    }

    form {
      padding-bottom: 20px;

      .datacapholder {
        display: flex;
        max-width: 480px;

        .datacap {
          flex-grow: 1;
        }

        .datacapext {
          padding-top: 33px;
        }
      }
    }

    button {
      background-color: #0090FF;
    }

    button>div {
      height: 15px;
      width: 15px;
    }
  }
}

.accountModal {
  display: "flex";
  flex-direction: "column";
  align-items: "center";
  text-align: "center";
  width: "300px";
  height: "300px";
  overflow: "scroll";
  padding: 10px;

  .accountsholder {
    padding: 20px 0px;

    .viewswitch {
      padding: 10px;
      margin: 10px;
    }
  }

  .account {
    padding: 5px 0px;
    cursor: pointer;
  }

  input {
    margin: 20px 0px 10px 0px;
  }
}

.wizzardfirst {
  display: flex;

  .wizzardElement {
    flex-grow: 1;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    margin: 10px;
    cursor: pointer;
    padding: 10px;

    .number {
      font-size: 24px;
      padding-bottom: 15px;
      padding-top: 10px;
    }

    .title {
      padding-bottom: 15px;
    }

    .description {
      color: #666;
    }
  }
}

.addmodal,
.confirmmodal {

  .inputholder {
    padding-top: 20px;
  }

  .datacapholder {
    padding-top: 20px;
  }

  .title {
    font-size: 22px;
    padding-top: 25px;
    padding-left: 40px;
    font-weight: bold;
  }

  .twopanel {
    display: flex;
    width: 900px;
    padding-left: 30px;
    padding-right: 30px;

    >div {
      flex-basis: 50%;
      padding-left: 10px;
      padding-right: 10px;
    }

    .css-1ev2p8p {
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
    }
  }

  .centerbutton {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    button {
      background-color: #0090FF;
      width: 176px;
    }
  }

  .methodselection {
    margin-top: 15px;

    .methodlabel {
      margin-bottom: 8px;
    }

    label {
      margin-bottom: 4px;
    }
  }
}

#githublogin {
  height: 150px;
  display: flex;
  justify-content: center;

  button {
    margin-top: 50px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    outline: 0;
    border: 0;
    min-height: 40px;
    padding: 6px 24px 6px 24px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 12px;
    -webkit-letter-spacing: 0.2px;
    -moz-letter-spacing: 0.2px;
    -ms-letter-spacing: 0.2px;
    letter-spacing: 0.2px;
    font-family: 'inter-semi-bold', -apple-system, BlinkMacSystemFont, arial, sans-serif;
    -webkit-transition: 200ms ease all;
    transition: 200ms ease all;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    background-color: #0090FF;
    color: #ffffff;
  }
}

.main table {
  margin-top: 20px;
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;

  thead {
    font-weight: bold;

    tr {
      border-bottom: 1px solid #000;
    }
  }

  tr {
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;

    td {
      padding: 12px
    }
  }

  tr.selected {
    background-color: #e5e5e5;
  }
}

.container {
  .welcome {
    position: absolute;
    text-align: center;
    max-width: 100%;
    height: 200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(180deg, #0090FF 0%, #39C1CB 99.99%, rgba(0, 144, 255, 0) 100%);

    .title {
      margin-top: 29px;
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      align-items: center;
      text-align: center;
      color: #FFFFFF;
    }

    .description {
      padding-top: 10px;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
      max-width: 960px;
      position: relative;
      margin: auto;
    }
  }

  .tabsholder {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    height: 600px;
    left: 0;
    right: 0;
    background: #fff;
    top: 220px;
    text-align: center;
    display: flex;
    z-index: 1;
    height: 60px;
    border-top: 1px solid #0091FF;
    border-left: 1px solid #0091FF;
    border-right: 1px solid #0091FF;
    cursor: pointer;

    .tab {
      flex: 50%;
      margin-top: 20px;
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      border-bottom: 2px solid #F1F1F1;
    }

    .selected {
      border-bottom: 1px solid #0091FF;
    }

  }

  .twooptions {
    .option {
      border-right: 1px solid #0091FF;
      border-bottom: 1px solid #0091FF;
    }
  }

  .options {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    height: 600px;
    left: 0;
    right: 0;
    background: #fff;
    top: 220px;
    text-align: center;
    display: flex;
    border-right: 1px solid #0091FF;
    border-left: 1px solid #0091FF;


    .option {
      flex: 50%;
      box-sizing: border-box;
      cursor: pointer;

      img {
        margin-top: 70px;
        max-height: 186px;
      }

      .optionhead {
        margin-top: 50px;
        font-family: JetBrains Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 48px;
      }

      .optiontitle {
        top: 150px;
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        padding-top: 60px;
      }

      .optionsubtitle {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        line-height: 36px;
        padding-top: 15px;

      }

      .optiondesc {
        margin-top: 20px;
        width: 320px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
      }
    }

    .columnleft {
      border-top: 1px solid #0091FF;
      flex: 50%;

      img {
        margin-top: 200px;
      }
    }

    .columright {
      border-top: 1px solid #0091FF;

      .optiontitle {
        margin-top: 220px;
        text-align: justify;
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
      }

      .optiondesc {
        text-align: justify;
        margin-right: 150px;
        margin-top: 25px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
      }
    }

  }

  .started {
    position: absolute;
    top: 630px;
    max-width: 1280px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;

    .siglebutton button {
      height: 20px;
      width: 180px;
      left: 0px;
      right: 0px;
      top: calc(50% - 20px/2);
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #FFFFFF;
      background: #0091FF;
    }
  }

}

.doublebutton button,
.doublebutton button:hover,
.doublebutton button:visited {
  margin-right: 80px;
  height: 20px;
  left: 0px;
  right: 0px;
  top: calc(50% - 20px/2);
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  width: 180px;
  background: #0091FF;
}

.doublebutton button:nth-child(2) {
  background: #fFF !important;
  color: #0091FF;
}

.verifiers {
  .tableverifiers {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    height: 600px;
    left: 0;
    right: 0;
    background: #fff;
    top: 80px;
    text-align: center;
    display: flex;
    box-sizing: border-box;

    table {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      left: 0;
      right: 0;
      border-collapse: collapse;
    }

    thead {
      font-weight: bold;

      tr {
        border-bottom: 1px solid #000;
      }
    }

    tr {
      border-bottom: 1px solid #e5e5e5;
      cursor: pointer;

      td {
        padding: 12px
      }
    }

    .data {
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #1A1A1A;
      display: block;
      flex: 95%;
    }

    .nodata {
      padding-top: 100px;
      width: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .checks {
      flex: 5%;
      margin-top: 50px;

      figure {
        margin-left: 20px;
        margin-bottom: 30px;
      }
    }
  }
}

.preonboarding {
  .started {
    .doublebutton button {
      width: 320px;
      background: #FFFFFF;
      color: #1A1A1A;
      border: 1px solid #C7C7C7;
      box-sizing: border-box;
      border-radius: 4px;
    }
  }
}

.wrapperverifiers {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  height: 700px;
  left: 0;
  right: 0;
  background: #fff;
  top: 220px;
  border-top: 1px solid #0091FF;
  border-left: 1px solid #0091FF;
  border-right: 1px solid #0091FF;
  border-bottom: 1px solid #0091FF;
  box-sizing: border-box;
}

.header {
  .headerlogo {
    position: relative;
    width: 180px;
    margin: auto;
    cursor: pointer;
  }

  .headerback {
    cursor: pointer;
    float: left;
    margin: 25px 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .headerrequest {
    position: relative;
    width: 180px;
    float: right;
    top: -60px;
    right: 150px;
  }

}

.errormodal,
.confirmmodal {
  width: 570px;
  height: 454px;

  .title {
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
  }

  .description {
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    max-width: 350px;
    margin: auto;
  }

  .img {
    max-width: 180px;
    max-height: 214px;
    margin: auto;
    margin-top: 30px;
  }

  .button {
    width: 176px;
    margin: auto;
    margin-top: 40px;

    button {
      width: 176px;
      background: #33A7FF;
      border-radius: 4px;
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #FFFFFF;
    }
  }

  form {
    height: 32px;
    width: 384px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    margin: auto;

    .inputholder {
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: #1A1A1A;
    }
  }
}


.buttonnotfilled {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  button,
  button:checked,
  button:active,
  button:hover,
  button:visited,
  button:checked {
    width: 176px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 4px;
    color: #33A7FF;
    border: 1px solid #33A7FF;
  }
}

.tableselects {
  position: absolute;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  height: 400px;
  left: 0;
  right: 0;
  background: #FFFFFF;

  .tabletitle {
    padding: 20px 100px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }


}