.App {
  max-width: 1280px !important;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 100%;

  h1 {
    padding-bottom: 20px;
  }

  h2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  input {
    margin-bottom: 18px;
  }

  .sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: inherit;
    border-right: none;
    width: 200px;
    background-color: #fff;
    border-right: 1px solid #e5e5e5;
    height: 100%;

    a, a:focus, a:visited, a:link, a:hover, a:target {
      padding: 8px 20px;
      text-decoration: none;
      color: black;
      border: none;
      font-weight: 300;

      svg {
        padding-right: 10px;
      }
    }

    a.active {
      color: #003fe3;
    }

    img {
      width: 180px;
      padding-left: 17px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .main {
    display: block;
    margin-left: 200px;
    min-height: 100%;
    padding: 20px;
    background-color: rgb(247, 247, 247);

    form {
      padding-bottom: 20px;
    }

    button>div {
      height: 15px;
      width: 15px;
    }
  }
}